<!-- HEADER -->
<header class="header">
    <div class="header__box-inside container">
        <div class="row header__top">
            <nav class="navbar navbar-expand-lg navbar-light col-md-12">
                <button class="navbar-toggler js-navbar-toggler-top" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="header-menu navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="header-menu__item nav-item"><a class="header-menu__link" href="#">О нас</a></li>
                        <li class="header-menu__item nav-item"><a class="header-menu__link" href="#">Новости</a></li>
                        <li class="header-menu__item nav-item"><a class="header-menu__link" href="#">Доставка и оплата</a></li>
                        <li class="header-menu__item nav-item"><a class="header-menu__link" href="#">Партнерам</a></li>
                        <li class="header-menu__item nav-item"><a class="header-menu__link" href="#">Контакты</a></li>
                    </ul>
                </div>
                <form class="search">
                    <input class="search__text" type="search" placeholder="Поиск продукции...">
                    <button class="search__btn">
                        <svg width="17" height="17">
                            <use xlink:href="#search-icon"></use>
                        </svg>
                    </button>
                </form>
                <a href="#" class="navbar-brand login">
                    <span class="login__img">
                        <svg width="22" height="22">
                            <use xlink:href="#user-icon"></use>
                        </svg>
                    </span>
                    <span class="login__text">Войти</span>
                </a>
            </nav>
        </div>
        <div class="row header__middle">
            <div class="tel-box col-6 col-md-3 col-lg-3 col-xl-2">
                <a class="tel-box__number" href="tel:+380631363136">+38 (063) 136-31-36</a>
                <a class="tel-box__number" href="tel:+380965815010">+38 (096) 581-50-10</a>
                <a class="tel-box__number" href="tel:+380631113840">+38 (063) 111-38-40</a>
                <a class="tel-box__btn b-btn" href="#">Заказать звонок</a>
            </div>
            <a href="#" class="logo-box col-10 col-md-6 col-lg-6 col-xl-8">
                <img class="logo-box__img" src="../images/logo-site.png" alt="back to home" width="531" height="69">
            </a>
            <div class="shopping col-6 col-md-3 col-lg-3 col-xl-2">
                <div class="shopping__btn-box">
                    <a href="#" class="order">
                        <span class="order__img">
                            <svg width="34" height="32">
                                <use xlink:href="#like-icon"></use>
                            </svg>
                            <span class="order__count">2</span>
                        </span>
                    </a>
                    <a href="#" class="order">
                        <span class="order__img">
                            <svg width="34" height="32">
                                <use xlink:href="#bag-icon"></use>
                            </svg>
                            <span class="order__count">2</span>
                        </span>
                        <span class="order__total">1000 грн</span>
                    </a>
                </div>
                <div class="shopping__work-time">
                    <span class="shopping__work-time-row">Время работы:</span>
                    <span class="shopping__work-time-row">Пн-Вс с 6:00 до 18:00</span>
                </div>
            </div>
        </div>
        <div class="row header__bottom">
            <nav class="navbar navbar-light navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="menu-site navbar-nav">
                        <li class="menu-site__item nav-item dropdown">
                            <a class="menu-site__dropdown-toggle nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Парфюмерия</a>
                            <div class="header-dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="header-dropdown__item dropdown-item" href="#">Action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Another action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="menu-site__item nav-item dropdown">
                            <a class="menu-site__dropdown-toggle nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Глаза</a>
                            <div class="header-dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="header-dropdown__item dropdown-item" href="#">Action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Another action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="menu-site__item nav-item dropdown">
                            <a class="menu-site__dropdown-toggle nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Губы</a>
                            <div class="header-dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="header-dropdown__item dropdown-item" href="#">Action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Another action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="menu-site__item nav-item dropdown">
                            <a class="menu-site__dropdown-toggle nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Лицо</a>
                            <div class="header-dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="header-dropdown__item dropdown-item" href="#">Action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Another action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="menu-site__item nav-item dropdown">
                            <a class="menu-site__dropdown-toggle nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ногти</a>
                            <div class="header-dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="header-dropdown__item dropdown-item" href="#">Action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Another action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="menu-site__item nav-item dropdown">
                            <a class="menu-site__dropdown-toggle nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бренды</a>
                            <div class="header-dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="header-dropdown__item dropdown-item" href="#">Action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Another action</a>
                                <a class="header-dropdown__item dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="menu-site__item nav-item">
                            <a class="menu-site__dropdown-toggle nav-link" href="#">Акции</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- /HEADER -->

